#root {
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/bg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.app{
  width: 1920px;
  height: 1080px;
  position: absolute;
  transform-origin: 0 0;
  left: 50%;
  top: 50%;
}
